In [2]:
!pip install ipython-sql
%load_ext sql
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql postgresql:///jovyan
CREATE TABLE Employees (
    EMPLOYEE_ID int NOT NULL,
    FIRST_NAME varchar(40) NOT NULL,
    LAST_NAME varchar(40) NOT NULL,
    HIRE_DATE date NOT NULL,
    JOB_ID varchar(40) NOT NULL,
    MANAGER_ID int NOT NULL,
    DEPARTMENT_ID int NOT NULL
)

Done.

[]

In [4]:
%%sql postgresql:///jovyan
INSERT INTO Employees VALUES 
(100, 'Steven','King','1987-06-17', 'AD_PRES', 0, 90);
INSERT INTO Employees VALUES 
(101, 'Neena', 'Kochhar', '1987-06-18', 'AD_VP', 100, 90);
INSERT INTO Employees VALUES 
(102, 'Lex', 'DeHaan', '1987-06-19', 'AD_VP', 100, 90);
INSERT INTO Employees VALUES 
(103, 'Alexander', 'Hunold', '1987-06-20', 'IT_PROG', 102, 60);
INSERT INTO Employees VALUES
(107, 'Diana', 'Lorentz', '1987-06-24', 'IT_PROG', 103, 60);
INSERT INTO Employees VALUES
(108, 'Nancy', 'Greenberg', '1987-06-25', 'FI_MGR', 101, 100);
INSERT INTO Employees VALUES
(109, 'Daniel', 'Faviet', '1987-06-26', 'FI_ACCOUNT', 108, 100);
INSERT INTO Employees VALUES
(114, 'Den', 'Raphaely', '1987-07-01', 'PU_MAN', 100, 30);
INSERT INTO Employees VALUES
(118, 'Guy', 'Himuro', '1987-07-05', 'PU_CLERK', 114, 30);
INSERT INTO Employees VALUES
(144, 'Peter', 'Vargas', '1987-07-31', 'ST_CLERK', 114, 50);
INSERT INTO Employees VALUES
(145, 'John', 'Russell', '1987-08-01', 'SA_MAN', 100, 80);
INSERT INTO Employees VALUES
(146, 'Karen', 'Partners', '1987-08-02', 'SA_MAN', 100, 80);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql postgresql:///jovyan
CREATE TABLE Departments (
    DEPARTMENT_ID int NOT NULL,
    DEPARTMENT_NAME varchar(40) NOT NULL,
    MANAGER_ID int NOT NULL
)

Done.

[]

In [40]:
%%sql postgresql:///jovyan
INSERT INTO Departments VALUES 
(10, 'Administration', 200);
INSERT INTO Departments VALUES 
(30, 'Purchasing', 114);
INSERT INTO Departments VALUES 
(40, 'HumanResources', 203);
INSERT INTO Departments VALUES 
(50, 'Shipping', 121);
INSERT INTO Departments VALUES 
(60, 'IT', 103);
INSERT INTO Departments VALUES
(70, 'PublicRelations', 204);
INSERT INTO Departments VALUES
(80, 'Sales', 145);
INSERT INTO Departments VALUES
(90, 'Executive', 100);
INSERT INTO Departments VALUES
(100, 'Finance', 108);
INSERT INTO Departments VALUES
(110, 'Accounting', 205);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [48]:
%%sql postgresql:///jovyan
SELECT  department_name, e.first_name || ' ' || e.last_name as manager_name, count(emp.EMPLOYEE_ID) as number_of_employees
FROM Departments d
JOIN Employees e ON d.manager_id = e.employee_id
JOIN Employees emp ON d.department_id = emp.department_id
group by department_name, e.first_name, e.last_name

5 rows affected.

[('Purchasing', 'Den Raphaely', 6),
 ('IT', 'Alexander Hunold', 6),
 ('Finance', 'Nancy Greenberg', 6),
 ('Sales', 'John Russell', 6),
 ('Executive', 'Steven King', 9)]